@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: auto;
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 165px;
  line-height: 51px;
  text-transform: uppercase;
  background-blend-mode: overlay;
  font-size: 27px;
  margin-right: 46px;
}

.logo a:visited {
  color: #222222;
}

.logo:hover {
  opacity: 70%;
}

.logo span {
  color: #f16d7f;
  font-weight: 700;
}

.search {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  font-size: 14px;
}

.search__browse {
  padding: 14px;
  background-color: #f9f9f9;
  line-height: 38px;
  border: none;
  color: #7c7c7c;
  outline: none;
}

.search__browse:hover {
  opacity: 70%;
}

.search__browse i {
  color: #838383;
}

.header .search input {
  height: inherit;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 14px 16px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.header .search button:last-child {
  border: none;
  outline: none;
  height: inherit;
  background: none;
  padding: 12px;
  color: #a4a4a4;
}

.fa-search:hover {
  opacity: 70%;
}

.fa-search:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.header__cart {
  margin-left: auto;
  margin-right: 26px;
}

.header__cart:hover {
  opacity: 70%;
}

.header__cart:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.header__account-bar {
  border: none;
  outline: none;
  width: 130px;
  line-height: 38px;
  background-color: #f16d7f;
  padding-left: 19px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.header__account-bar:hover {
  opacity: 70%;
}

.header__account-bar:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.headerLine {
  border-bottom: 1px solid #ececec;
}

.topNav {
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topNav a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  overflow: hidden;
  padding-top: 20px;
}

.topNav:first-child {
  border-bottom: 3px solid #ef5b70;
}

.topNav a:hover {
  border-bottom: 3px solid #ef5b70;
  opacity: 70% !important;
  text-decoration: none;
}

.topNav a.active {
  border-bottom: 3px solid #ef5b70;
}

.topNav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.topNav a:not(:last-child) {
  margin-right: 46px;
}

.slider {
  height: 615px;
  width: 1600px;
  background-color: #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.rectangle {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  margin-top: 225px;
  margin-left: 170px;
}

.slider_text {
  margin-top: 210px;
  margin-left: 19px;
  width: 485px;
  height: 92px;
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.the_brand {
  color: #222222;
  font-size: 60px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  vertical-align: inherit;
}

.fasion {
  color: #f16d7f;
  letter-spacing: 1px;
}

.slider img {
  position: absolute;
  right: 450px;
}

.category {
  height: 823px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1140px;
  margin-top: 98px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.banner {
  position: relative;
}

.banner_text {
  position: absolute;
  top: 0;
  background-color: #ffffff;
  height: 66px;
  padding: 18px 16px 0 18px;
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.banner_text2 {
  color: #f16d7f;
  letter-spacing: 1px;
  font-size: 30px;
}

.product_banner {
  margin-top: 100px;
  margin-bottom: 59px;
}

.product_banner h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  margin-bottom: 8px;
}

.product_banner h5 {
  margin-top: 0;
  text-align: center;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.product_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.products_gal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.products_gal:hover {
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
}

.products_gal:hover .product_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product_img h4 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  margin-left: 15px;
  margin-top: 19px;
}

.product_img span {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 15px;
}

.product_hover {
  position: absolute;
  display: none;
  width: 263px;
  height: 281px;
  background-color: #3a3838;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}

.product_hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 123px;
  height: 37px;
  border: 1px solid #ffffff;
  text-transform: lowercase;
}

.product_hover p:hover {
  background-color: #ffa4a4;
  color: #3e3e40;
}

.browse_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  width: 212px;
  line-height: 38px;
  background-color: #f16d7f;
  padding-left: 19px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.4px;
  height: 48px;
}

.browse_button:hover {
  opacity: 70%;
}

.browse_button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.browse_button i {
  padding-left: 20px;
}

.feature {
  height: 529px;
  margin-top: 113px;
  overflow: hidden;
  margin-bottom: 100px;
}

.feature_banner {
  background: url(../img/feature_img.jpg);
  height: 529px;
  width: 767px;
  float: left;
}

.feature_banner h2 {
  width: 293px;
  height: 78px;
  margin-top: 146px;
  margin-left: 39px;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-transform: uppercase;
}

.per {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.offer {
  color: #f16d7f;
  letter-spacing: 1.5px;
  font-size: 54px;
}

.feature_box {
  height: 529px;
  background-color: #222224;
  display: block;
}

.feature_box_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 114px;
  height: 446px;
  float: left;
}

.item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_box_content {
  height: 446px;
  width: 259px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 35px;
}

.feature_box_content h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.feature_box_content p {
  width: 219px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.subscribe_copy {
  background: url(../img/Layer_41.jpg) no-repeat, #ccc;
  height: 438px;
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99%;
  margin: 0 auto;
  background-blend-mode: overlay;
  background-size: cover;
}

.sub_content {
  height: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.sub_left img {
  margin-top: -35px;
}

.sub_left div {
  margin-top: -40px;
}

.sub_text {
  width: 396px;
  color: #222224;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 19px;
}

.sub_name {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.sub_sec_name {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin-top: -15px;
}

.sbsc_line_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 140px;
  height: 45px;
}

.sbcs_line {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.sbcs_line:hover {
  background-color: #f16d7f;
}

.active_line {
  background-color: #f16d7f;
}

.sub_right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe_h {
  color: #222224;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sub_right p {
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px;
  margin-bottom: 35px;
  margin-top: -20px;
}

.sub_right form {
  outline: none;
  border: none;
}

.sub_right input {
  width: 282px;
  border: none;
  height: 46px;
  border-radius: 50px 0px 0px 50px;
  background-color: #e1e1e1;
  padding-left: 28px;
  outline: none;
}

.sub_right input:focus {
  outline: none;
}

.sub_right button {
  width: 104px;
  border: none;
  height: 46px;
  border-radius: 0px 50px 50px 0px;
  background-color: #f16d7f;
  color: #ffffff;
}

.sub_right button:focus {
  outline: none;
}

.sub_right button:hover {
  opacity: 70%;
}

.sub_right button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

/*FOOTER*/
.footer {
  height: 428px;
  background-color: #ffffff;
}

.footer_top {
  margin-top: 109px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 349px;
}

.about_us p {
  width: 427px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  height: 180px;
}

.about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 446px;
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 64px;
  margin-top: -25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 240px;
  width: 624px;
}

.nav_link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 33%;
}

.nav_link a {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
}

.nav_link a:hover {
  opacity: 70%;
}

.nav_link h3 a {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  line-height: 59px;
}

.nav_link h3 a:hover {
  opacity: 70%;
}

.foter_low {
  height: 79px;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foter_low p a {
  width: 260px;
  height: 14px;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
  margin-left: 150px;
}

.footer-link {
  margin-right: 230px;
  width: 191px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.footer-link a {
  height: 16px;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
}

.footer-link a i {
  width: 32px;
  height: 25px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 8px;
}

.footer-link a i:hover {
  color: #ffffff;
  background-color: #f16d7f;
}

.sub_line {
  width: 1px;
  height: 438px;
  background-color: #ffffff;
}

.breadcrumb_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
  background-color: #f8f3f4;
}

.breadcrumb_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumb_content h4 {
  width: 176px;
  height: 18px;
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.breadcrumb_nav a {
  text-decoration: none;
  width: 196px;
  height: 11px;
  color: #636363;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.breadcrumb_nav a span {
  color: #f16d7f;
  font-weight: 700;
}

.breadcrumb_nav a:hover {
  opacity: 70%;
}

.shopping_cart_block {
  height: 623px;
  margin-top: 90px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 12px;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.line_product {
  margin: 20px 0;
  border: 1px solid #eaeaea;
}

.row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4.2;
      -ms-flex: 4.2 1 0px;
          flex: 4.2 1 0;
}

.row__header {
  text-transform: uppercase;
  font-size: 14px;
}

.row__item2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  margin: 0 20px;
}

.price,
.quantity,
.shipping,
.subtotal,
.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.action {
  margin: 0 0 0 20px;
  width: 55px;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 115px;
  margin: 26px 0 26px;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.row2__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4.2;
      -ms-flex: 4.2 1 0px;
          flex: 4.2 1 0;
}

.row2__item div h4 {
  margin-bottom: 40px;
}

.row2__item div {
  margin-left: 20px;
}

.row__detail {
  width: 30px;
  height: 10px;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.row__detail_input {
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
}

.shop_button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop_button {
  border: none;
  outline: none;
  width: 147px;
  height: 12px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.shop_button:hover {
  opacity: 70%;
}

.shop_button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.shipping_details {
  height: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.ship_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
}

.ship_block {
  height: 355px;
  width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.country_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  height: 52px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  padding-left: 5px;
}

.ship_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 345px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 10px;
  overflow: hidden;
}

.ship_input::-webkit-input-placeholder {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
}

.ship_input:-ms-input-placeholder {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
}

.ship_input::-ms-input-placeholder {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
}

.ship_input::placeholder {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
}

.shipping_details h4 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.scoupon_block {
  height: 184px;
  width: 355px;
}

.checkout_block {
  height: 214px;
  background-color: #f5f3f3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.checkout_block h5 {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 218px;
}

.checkout_block div {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.total_ammount {
  color: #f16d7f;
}

.checkout_line {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 276px;
  height: 1px;
  background-color: #e2e2e2;
}

.checkout_button {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.checkout_button:hover {
  opacity: 70%;
}

.checkout_button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.ship_button {
  display: inline-block;
  height: 35px;
  border: none;
  outline: none;
  color: #4a4a4a;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.ship_button:hover {
  opacity: 70%;
}

.ship_button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.s_page_slider_box {
  height: 777px;
  background-color: #f7f7f7;
  z-index: 2;
}

.s_page_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1141px;
  height: 730px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  z-index: 1;
  margin-top: -53px;
}

.description_h {
  height: 10px;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 73px;
}

.description_h2 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 67px;
}

.description_p {
  width: 618px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 28px;
}

.description_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 334px;
}

.description_details p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 158px;
  height: 10px;
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.des-bold {
  color: #2f2f2f;
}

.carusel_line_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 148px;
  height: 45px;
}

.carusel_line {
  width: 56px;
  height: 1px;
  background-color: #d6d6d6;
}

.carusel_line:hover {
  background-color: #f16d7f;
}

.active_carusel_line {
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
}

.s_page_price {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  font-family: Lato;
  margin-top: 28px;
  margin-bottom: 28px;
}

.description_line {
  width: 642px;
  height: 1px;
  border: 1px solid #eaeaea;
  margin-bottom: 63px;
}

.filter_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 540px;
}

.choose_h {
  height: 10px;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: left;
  margin-bottom: 16px;
}

.button_addToCart {
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  margin-top: 28px;
  overflow: hidden;
  outline: none;
}

.also_like_box {
  height: 646px;
}

.also_like_box h3 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 119px;
  margin-bottom: 72px;
}

.also_like_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.also_like_gal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  width: 261px;
  height: 280px;
  background-color: #e9e9e9;
}

.also_like_img img {
  text-align: center;
}

.also_like_img h4 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  margin-left: 15px;
  margin-top: 19px;
}

.also_like_img span {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 15px;
}
/*# sourceMappingURL=style.css.map */