$colorButtonMain: #f16d7f;
$colorHeadlineText: #f16d7f;
.header {
  height: 100px;
  display: flex;
  align-items: center;
}
.logo {
  width: 165px;
  line-height: 51px;
  text-transform: uppercase;
  background-blend-mode: overlay;
  font-size: 27px;
  margin-right: 46px;
  & a:visited {
    color: #222222;
  }
  &:hover {
    opacity: 70%;
  }
  & span {
    color: $colorHeadlineText;
    font-weight: 700;
  }
}
.search {
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  font-size: 14px;
  .dropdown {
    display: none;
  }
}
.search__browse {
  padding: 14px;
  background-color: #f9f9f9;
  line-height: 38px;
  border: none;
  color: #7c7c7c;
  outline: none;
  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
  & i {
    color: #838383;
  }
}
.header .search input {
  height: inherit;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 14px 16px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.header .search button:last-child {
  border: none;
  outline: none;
  height: inherit;
  background: none;
  padding: 12px;
  color: #a4a4a4;
}
.fa-search:hover {
  opacity: 70%;
}
.fa-search:active {
  transform: translateY(4px);
}

.header__cart {
  margin-left: auto;
  margin-right: 26px;
}
.header__cart:hover {
  opacity: 70%;
}
.header__cart:active {
  transform: translateY(4px);
}
.header__account-bar {
  border: none;
  outline: none;
  width: 130px;
  line-height: 38px;
  background-color: $colorButtonMain;
  padding-left: 19px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}
.header__account-bar:hover {
  opacity: 70%;
}
.header__account-bar:active {
  transform: translateY(4px);
}
.headerLine {
  border-bottom: 1px solid #ececec;
}
