.breadcrumb {
	height: 148px;
	background-color: #f8f3f4;
}
.breadcrumb_content {
	height: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.breadcrumb_content h4 {
	width: 176px;
	height: 18px;
	color: #f16d7f;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.breadcrumb_nav a {
	text-decoration: none;
	width: 196px;
	height: 11px;
	color: #636363;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	
}
.shopping_cart_block {
	height: 623px;
	margin-top: 90px;
}
.row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 12px;
	color: #222222;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: -0.2px;
}
.line_product {
  margin: 20px 0;
  border: 1px solid #eaeaea;
}
.row__item {
	display: flex;
	align-items: center;
	flex: 4.2 1 0;
	
}
.row__header {
  text-transform: uppercase;
  font-size: 14px;
}
.row__item2 {
  flex: 1 1 0;
  margin: 0 20px;
}
.price,
.quantity,
.shipping,
.subtotal,
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.action {
  margin: 0 0 0 20px;
  width: 55px;
}
.row2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 115px;
	margin: 26px 0 26px;
	color: #222222;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: -0.2px;
}
.row2__item {
	display: flex;
	align-items: center;
	flex: 4.2 1 0;
}
.row2__item div h4 {
	margin-bottom: 40px;

}
.row2__item div {
	margin-left: 20px;
} 
.row__detail {
	width: 30px;
	height: 10px;
	color: #656565;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}
